* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px 4px 10px;
}

.dflex{
    display: flex;
    align-items: center;
}

.item{
    padding: 10px 10px;
}

.item:hover{
    border: 1px solid white;
    border-radius: 2px;
    margin: -1px;
}

.logo{
    text-align: center;
    margin: 1px;
    margin-bottom: -5px;
    padding: 6px 8px 0 0;
    height: 42px;
}

a{
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

a:hover{
    border: 1px solid white;
    margin: -1px;
    border-radius: 3px;
}

a span{
    font-size: 14px;
    margin-left: -10px;
}

p{
    font-size: 12px;
    line-height: 15px;
}

.item i{
    padding: 0 5px;
}

nav input{
    width: 760px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
}

nav button{
    padding: 10px 10px;
    color: black;
    font-size: 17px;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    
}

nav .all{
    background: #ddd;
    border-radius: 5px 0 0 5px;
}

nav .search{
    padding: 10px 17px;
    margin: -2px;
    background: rgb(247, 155, 80);
    border-radius: 0 5px 5px 0;
}

.submigation{
    background-color: rgb(40, 40, 71);
    padding: 6px 15px;
}

.submenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul li{
    list-style: none;
    font-weight: 500;
    padding: 1px 5px;
    font-size: 14px;
}

nav .submenu i{
    font-size: 16px;
    margin: -5px;
}

.bg{
    position: relative;
    padding: 6px 6px ;
    margin: -5px 0;
    margin-right: 10px;
    background-color: rgb(247, 155, 80);
}

.main{
   
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    color: gra;
    background: linear-gradient(
        #DCE963 0%,
        rgb(205, 205, 205) 30%
    );
   background-repeat: no-repeat;
    background-size: cover;
    height: 5000px;
    z-index: 0;
    }

.school{
        font-size: 40px;
        color: white;
       text-align: center;
       margin: 150px 0px;
       left: 200px;
       /* position: relative; */
       width: 500px; 
} 

.game{
    width: 90%;
}

.gaming{
    background-color: rgb(240, 91, 91);
    width: 20%;
    height: 500px;
    /* margin-left: 20px; */
     display: flex;
    justify-content: center;
}

.accessory{
    color: black;
    padding-left: 20px;
    font-size: 22px;
   margin-top: 25px; 
  
}

.game{
   width: 200px;
   height: 250px;  
    display: flex; 
    margin-right: 140px; 
   position: relative;
   bottom: -60px;
}

.electronics{
    background-color: rgb(156, 134, 134); 
     width: 20%;
    height: 500px;
     display: flex;
    justify-content: center;
     position: relative;
    right: -320px;
    bottom: 500px; 
} 

 .electro{
    color: black;
    padding-left: 20px;
    font-size: 22px;
   margin-top: 25px;
}

.wire{
   width: 200px;
   height: 250px;
    display: flex; 
    margin-right: 140px;
    position: relative;
    bottom: -60px;
    
} 

.topdeal{
    background-color: rgb(251, 0, 0);
    width: 20%;
    height: 500px; 
    margin-right: 1000px;  
      display: flex; 
     justify-content: center;
    position: relative;
    right: -620px;
    bottom: 1000px;
}

.top{
    color: black;
    padding-left: 10px;
    font-size: 22px;
   margin-top: 25px;
   
}

.Deals{
    width: 200px;
    height: 250px;
     display: flex;
     margin-right: 55px;
     position: relative; 
     bottom: -60px;
     
} 

.signin{
    background-color: white;
    height: 150px;
    width: 20%;
    display: flex;
    justify-content: center;
     position: relative; 
     right: -920px; 
    bottom: 1500px;
}

.best{
    color: black;
    font-size: 20px;
    margin-top: 20px; 
}

 .carton{
    background-color:  rgb(46, 169, 218);
    height: 6%;
    width: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    right: -920px;
    bottom: 1450px;
}

.millon{
    font-size: 20px;
    margin-top: 30px;
    width: 200px;
 } 