*{
    margin: 0;
    font-family: Arial;
    /* border: border-box; */
}

body{
    background-color: rgb(246, 138, 138);
}

a{
    text-decoration: none;
}

.navbar{
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url('./images/amazonlogo1.png');
    background-size: contain;
    height: 40px;
    width: 100PX;

}

.logoo{
    width: 70px;
}



.border{
    border: 1px solid transparent;
    
}

.nav-signin a{
    cursor: pointer;
    color: rgb(193, 193, 255);
    
}



.border:hover{
    border: 2px solid white;
}

.add-first{
    color: rgb(205, 205, 202);
    font-size: 0.5rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

 .add-icon{
    display: flex;
    align-items: center;
} 

.nav-search{
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    /* animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards; */
}

.search-select{
    background-color: rgb(223, 221, 216);
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgba(255, 217, 0, 0.596);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    margin-top: 10px;
}

.nav-search:hover{
    border: 2px solid orange;
}

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 10px;
    
}



.panel{
    height: 40px;
    background-color: rgb(54, 54, 88);
    display: flex;
    color: white;
    align-items: center;
     justify-content: space-evenly; 
   
}


.panel-ops a{
    display: inline;
    margin-right: 15px;
    color: white;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}




.today-deal-container{
    margin: 30px;
    box-shadow: -2px -2px -5px rgba(0, 0, 0, 0.1),
     2px 2px 5px rgba(0, 0, 0, 0.1);
}

.today-deal-heading{
    display: flex;
    align-items: center;
    padding: 2px 20px;
}


.today-deal-heading p a{
    color: rgb(1, 130, 130);
    text-decoration: none;
    padding-left: 20px;
}




.today-deal-list{
    display: flex;
    flex-wrap: wrap;
}


.today-deal-item{
    min-width: 100px;
    width: 220px;
    padding: 20px 10px;
}

.today-deal-item img{
    width: 100%;
    padding: 10px 0px;
}

.discount-container{
    /* border: 2px solid red; */
}

.discount-container a{
    padding: 5px 10px;
    font-size: 14px;
    color: rgb(168, 5, 5);
    text-decoration: none;
}
.discount-container a:first-child{
    background-color: rgb(168, 5, 5);
    padding: 5px 10px;
    color: white;
    font-weight: 550;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.ptag{
    margin-top: 10px;
}

footer{
    margin-top: 15px;
}

.foot-panel2{
    background-color: rgb(13, 27, 54);
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
   }




.foot-panel2:hover{
    color: rgb(183, 255, 0);
    transform: translateX(-12px);
}
.foot-panell{
    background-color: rgb(29, 50, 96);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
   
}

ul{
    margin-top: 30px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: beige;
    font-weight: bolder;
}
  
.logo{
    background-image: url(./images/amazonlogo.png);
    background-size: cover;
    height: 40px;
   width: 100px;
}



.foot-panel3{
    background-color: rgb(13, 27, 54);
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    background-color: rgb(13, 27, 54);
    color: white;
    height: 80px;
    text-align: center;
}



.pages{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 25px;
}

.copywright{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 5px;
   
}

.link{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.dove{
    color: white;
}

.menu1{
    display: none;
}

@media (max-width: 768px) {
    .menu1{
        display: block;
    }
}